<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'pokemons/partials/head.html' %}
    <title>{% block title %}{% endblock title %} Pokemon</title>

</head>


<body>
    {% include 'pokemons/partials/menu.html' %}
    {% include 'pokemons/partials/header.html' %}
    {%include 'pokemons/partials/search.html'%}

    <main class="main-content-conteiner main-content-pok-list">
        {% comment %} <div class="main-content main-content-list conteiner"> {% endcomment %}
            {% block content %}{% endblock content %}
            {%include 'pokemons/partials/pagination.html' %}
        </div>
        <div class="futer">
        {%include 'pokemons/partials/footer.html'%}    
    </div>
    </main>
</body>
</html>